@import "tailwindcss";

/* @keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.animate-zoom {
  animation: zoomEffect 6s ease-in-out forwards;
} */

@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.2) translate(-20px, -20px);
  }
}

.animate-kenburns {
  animation: kenburns 6s ease-in-out forwards;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoom {
  animation: zoomInOut 8s ease-in-out infinite;
}
